
<div class="m-5 row">
  <div class="col-12">
    <form>
      <input id="color-slider" type="range" min="0" max="255" value="100" style="width: 100%;">
    </form>
  </div>
</div>

<h1 class="m-2 display-4 text-center">Ghost Detector Home</h1>
<p class="lead text-center">
  You've found <%= @ghosts.count %> <%= 'ghost'.pluralize(@ghosts.count) %>
</p>
<div class="m-5 row">
  <div class="col text-center align-bottom">
    <a class="btn btn-primary" href="<%= root_path %>" role="button">Find Different Ghosts</a>
  </div>
</div>


<div class="row m-2">
  <%= render @ghosts %>
</div>

<div class="m-5 row">
  <div class="col text-center align-bottom">
    <a class="btn btn-primary" href="<%= root_path %>" role="button">Find Different Ghosts</a>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', colorSlider('#color-slider'))
</script>
